:root {
    --sinz-light: #95f395;
    --sinz-dark-1: #2d402c;
    --sinz-dark-2: #111611;
}

:root {
    --heo-main: var(--sinz-light);
    --new-post: var(--sinz-light);
}
[data-theme="dark"]{
    --preloader-bg:var(--sinz-dark-1);
    --sidebar-bg:var(--sinz-dark-2);
    --btn-bg:var(--sinz-dark-1);
    --heo-main: var(--sinz-dark-1);
    --recent-post-bgcolor: var(--sinz-dark-2);
    --article-content-bgcolor: var(--sinz-dark-1);
    --new-post: var(--sinz-dark-1);
    --recent-post-cover-shadow: var(--sinz-dark-2);
    --card-bg:var(--sinz-dark-2);
    --global-bg:var(--sinz-dark-1);
}
@media screen and (max-width: 768px){
#category-bar {
    border-radius: 12px;
}
}
[data-theme='dark'] #page-header.nav-fixed > #nav, [data-theme='dark'] #page-header.not-top-img > #nav {
    background: var(--sinz-dark-1);
    opacity:0.8;
    box-shadow: 0 5px 6px -5px rgb(133 133 133 / 0%);
}
.transparentpage{
    background:transparent!important;
    box-shadow: 0px;
}
.writeFarming{
    background-image: linear-gradient(100deg,#3498db,#27ae60,#9b59b6,#3498db,#f39c12,#d35400)!important;
	background-size: 800%!important;
	animation: bganimation 105s infinite!important;
}

@keyframes bganimation{
    0% {
        background-position:0% 50% ;
    }
    50% {
        background-position:100% 50% ;
    }
    100% {
        background-position:0% 50% ;
    }
}
