#webmen-root
script.
  function loadWebMention () {
    if (document.getElementById('webmentionjs') != null) {
      document.getElementById('webmentionjs').remove();
      loadWebMention()
    } else {
      let ele = document.createElement('script')
      ele.setAttribute('src','/js/webmention.js')
      ele.setAttribute('id', 'webmentionjs')
      document.getElementById('webmen-root').insertAdjacentElement('afterbegin',ele)
    }   
  }

  loadWebMention()